# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.env

# Data Files (CRITICAL: Do not upload large CSVs)
data/
*.csv
*.zip
*.pkl
*.h5

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE settings (Visual Studio Code, etc.)
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

venv/
venvcar/
.venv/